# Ignore macOS system files
.DS_Store

# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignore virtual environments
env/
venv/
.venv/

# Ignore database files
*.sqlite3
# *.db
*.db-journal
# database/jobs.db

# Ignore logs and temp
*.log
*.tmp

# Ignore Streamlit config
.streamlit/

# Ignore uploads and actuals (optional)
data_upload/*.csv
